.login-modal {
    display:grid;
    grid-template-columns: 5fr 1fr;
    border-radius: 5px;
    padding:.5rem 1rem;
    background-color:var(--color7);
}

.login-modal--message {
    color:red;
    font-weight: bold;
    font-size: clamp(.1rem, .7vw + 1rem, 1.2rem);
}
.login-modal--close {
    border-radius: 50%;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display:flex;
    justify-content: flex-end;
}
#forgotten {
    grid-template-columns: 12fr 4fr 1fr;
    border-radius: 1rem;
    padding: 1rem
}